@media screen and (max-width:700px){
    header #conteiner{
        display: flex;
        flex-direction: column;
       }
       .botao{
        margin-top: 5px;
        width: 300px;
        
       }
       .descricao{
        width: 100%;

    }
    
}

@media screen and (max-width:450px ){
    header nav a{
     margin-right: 25px;
     font-size: 15px;
 
 }
   
 }